extends layout/default

block scripts

append content
  .ui.button.large Large

  p

  a.ui.button.large Large

  p

  button.ui.button.large Large

  p

  .ui.button.large.compact Compact

  p

  a.ui.button.large.compact Compact

  p

  button.ui.button.large.compact Compact
